<div class="container">
    
  <h2> Latest submissions </h2>

  <table class="uk-table uk-table-divider">
    <tr *ngFor="let student of students">
      <td>
          <dl class="uk-description-list">
              <dt>Student ID: {{student.student_id}}</dt>
              <dd>
                  name: {{student.name}}
              </dd>
              <dd>
                  Entry: {{student.entry}}
              </dd>
          </dl>
      </td>
      <td style="text-align: right;">
        <a [routerLink]="['/admin/review', student._id]"
        class="uk-button uk-button-default"> Review </a>
      </td>
    </tr>
  </table>

</div>
