<div *ngIf ='isLoaded'>
    <h2>Time: {{minutes}}:{{seconds}}</h2>
  <form [formGroup]='examForm' (ngSubmit)='onSubmit(f)' #f ='ngForm'>
  <input class='uk-input'  name='question1' formControlName ='question1'>
  <textarea class='uk-textarea'  name='answer1' formControlName ='answer1'></textarea>
      <input class='uk-input' name ='question2' formControlName ='question2'>
      <textarea class='uk-textarea'  name='answer2' formControlName ='answer2'></textarea>
          <input class='uk-input'  name ='question3' formControlName ='question3'>
          <textarea class='uk-textarea'  name='answer3' formControlName ='answer3'></textarea>
          <button type="submit" class='uk-button-primary'>Submit</button>
</form>
</div>