<div class="container">
    
    <h2> List of Staff Members </h2>

    <table class="uk-table uk-table-divider">
      <tr *ngFor="let element of staffMembers">
        <td>
            <dl class="uk-description-list">
                <dt>{{element.name}}</dt>
                <dd>
                  {{element.username}}
                </dd>
                <dd>
                  Is Active: {{element.active}}
                </dd>
            </dl>
        </td>
        <td style="text-align: right;">
          <a [routerLink]="['/admin/staff', element._id]"
          class="uk-button uk-button-default"> View/Edit </a>
        </td>
      </tr>
    </table>

</div>
