<table class="uk-table uk-table-striped  uk-table-hover" *ngIf ='isLoaded'>
  <caption style="text-align:center">Invitations List</caption>
  <thead>
      <tr>
          <th>Name</th>
          <th>Entry</th>
          <th>Status</th>
      </tr>
  </thead>
  <tfoot>
      <tr>
          <td></td>
      </tr>
  </tfoot>
  <tbody>
      <tr *ngFor ='let stu of students'>
          <td>{{stu.name}}</td>
          <td>{{stu.entry}}</td>
          <td>{{stu.invitations[0].status}}</td>
      </tr>
  </tbody>
</table>