<!--
<header-home></header-home>
-->

  <div class="container">
    <h3>
        Login
    </h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="uk-form-stacked">
      <div class="uk-margin">
          <label class="uk-form-label" for="username">Username</label>
          <div class="uk-form-controls">
              <input class="uk-input" id="username" name="username" type="text" formControlName="username">
          </div>
          <div class="alert alert-danger" *ngIf="(control.username.touched || control.username.dirty) && control.username.errors">
            <span class="helper-text">required *</span>
          </div>
      </div>
      <div class="uk-margin">
          <label class="uk-form-label" for="password">Password</label>
          <div class="uk-form-controls">
              <input class="uk-input" id="password" name="password" type="password" formControlName="password">
          </div>
          <div class="alert alert-danger" *ngIf="(control.password.touched || control.password.dirty) && control.password.errors">
            <span class="helper-text">required *</span>
          </div>
      </div>
      <div class="uk-margin">
          <button class="uk-button uk-button-secondary" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
<!--
<footer-home></footer-home>
-->